<div class="todos">
  <div class="form__wrapper">
    <form
      required
      #inputForm
      (submit)="name.valid && addTodo() ? inputForm.reset() : '' "
      class="inputForm form-group"
      method="post"
    >
      <input
        name="inputTodo"
        type="text"
        [(ngModel)]="inputTodo"
        class="inputTodo "
        minlength="2"
        #name="ngModel"
        (submit) = inputForm.reset()
        required
        autocomplete="off"
      />

      <button class="submit-btn" type="submit">
        <fa-icon [icon]="faPlus"></fa-icon>
        <span class="button-text">add</span>
      </button>
    </form>
  </div>
  <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
    <div *ngIf="name.errors?.required && name.touched ">*Todo is required.</div>
    <div *ngIf="name.errors?.minlength">
      *Todo must be at least 2 characters long.
    </div>
  </div>
  <app-filter
    [filteredTodos]="filteredTodos"
    (filteredTodosChange)="filteredTodos = $event"
    [todos]="todos"
  ></app-filter>

  <div
    *ngFor="let todo of filteredTodos; let i = index"
    class="todo  {{ todo.completed ? 'done' : '' }}  "
  >
    <div class="id">{{ i + 1 }}.</div>
    <div class="content">{{ todo.content }}</div>
    <div class="button-wrappper">
      <button (click)="toggleDone(i)" class="check">
        <fa-icon [icon]="faCheck"></fa-icon>
      </button>
      <button (click)="removeTodo(i)" class="delete">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </div>
  </div>
</div>
