<div class="todos">
   
  
    <div
      *ngFor="let todo of todos; let i = index"
      class="todo  {{ todo.completed ? 'done' : '' }}  "
    >
      <div class="id">{{ i + 1 }}.</div>
      <div class="content">{{ todo.content }}</div>
      <div class="button-wrappper">
        <button (click) = "toggleDone(i)"  class="check">
          <fa-icon [icon]="faCheck"></fa-icon>
        </button>
        <button  class="delete">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </div>
    </div>
  </div>